@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
.lobster {
    font-family: "lobster two";
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../public/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../public/fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../public/fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

.roboto {
    font-family: "Roboto";
}
